<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr >
        <td >
          <center class="header">
           <container class="header-container">

             <container class="header-container">
              <row>
                <columns large="6" small="12">
                   <img class="logo" src="https://raw.githubusercontent.com/testfrizen/img/master/img/logo.png">
                 </columns>
                  <columns large="6" small="12">
                   <p>Having Trouble Viewing it? <span>View Online</span>.</p>
                 </columns>
               </row> 
              </container>

           </container>
          </center>
           
         <container>
            <spacer size="30"></spacer>
            <container>
              <row>
               <columns>
                 <center>
                   <img src="https://raw.githubusercontent.com/testfrizen/img/master/img/img1.png">
                   <spacer size="20"></spacer>
                    <h1 class="lvlone-h small-text-center">Larger Item Heading</h1>
                    <spacer size="13"></spacer>
                    <p class="lvlone-p ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                    <spacer size="9"></spacer>
                 </center>
                 <button href="#" class="small-center">DETAILS</button>
                 <spacer class="lvlone-hr" size="30"></spacer>
               </columns>
             </row>
            </container>
            <container>
              <row>
                <columns large="6" small="12">
                  <img src="https://raw.githubusercontent.com/testfrizen/img/master/img/img2.png">
                  <spacer size="20"></spacer>
                  <h1 class="lvlone-h">Small Item</h1>
                  <spacer size="13"></spacer>
                  <p class="lvlone-p lvlone-p-pd">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                  <spacer size="9"></spacer>

                  <button href="#">DETAILS</button>
                  
                </columns large="6" small="12">
                <columns>
                  <img src="https://raw.githubusercontent.com/testfrizen/img/master/img/img3.png">
                  <spacer size="20"></spacer>
                  <h1 class="lvlone-h">Small Item</h1>
                  <spacer size="13"></spacer>
                  <p class="lvlone-p lvlone-p-pd">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                  <spacer size="9"></spacer>
                  <button href="#">DETAILS</button>
                  
                </columns>
                
              </row>
              <row>
                <columns>
                  <spacer class="lvlone-hr" size="1"></spacer>
                </columns>
              </row>
              
            </container>


          <row>
            <columns class="lvlone" large="4" small="12">
              <spacer class="lvlone-block" size="60">
                <p class="lvlone-block-p">AD <br> SPACE</p>
              <spacer class="lvlone-block" size="60">
              </spacer>   
             </columns>
            <columns class="lvlone" large="4" small="12">
                <spacer class="lvlone-block" size="60">
                    <p class="lvlone-block-p">AD <br> SPACE</p>
                <spacer class="lvlone-block" size="60">
             </columns>
            <columns class="lvlone" large="4" small="12">
              <spacer class="lvlone-block" size="60">
                <p class="lvlone-block-p">AD <br> SPACE</p>
                <spacer class="lvlone-block" size="60">
              </spacer>
             </columns>
             
            </row>
            <row>
              <columns>
                <spacer class="lvlone-hr-t" size="30"></spacer>
                 <h1 class="lvlone-h ">Blog Post Title One</h1>
                     <spacer size="13"></spacer>
                     <p class="lvlone-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                     <spacer size="9"></spacer>
                  </center>
                  <button href="#">DETAILS</button>
                  <spacer class="lvlone-hr" size="30"></spacer>
              </columns>
            </row>
             <row>
              <columns>
                
                 <h1 class="lvlone-h">Blog Post Title One</h1>
                     <spacer size="13"></spacer>
                     <p class="lvlone-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi. </p>
                     <spacer size="9"></spacer>
                  </center>
                  <button href="#">DETAILS</button>
                  
              </columns>
            </row>

         </container>
          <center class="footer">
            <container class="footer-social">
              <spacer size="22"></spacer>
              <container class="footer-social">

                <row>
                  <columns class="small-pd" large="4">
                    <h1 class="lvlone-h small-text-center">Stay Connected</h1>
                  </columns>
                  <columns class="small-pd" large="8">
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img1.png" alt="twitter" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img2.png" alt="facebook" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img3.png" alt="rss" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img4.png" alt="pinterest" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img5.png" alt="google +" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img6.png" alt="dribbble" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img7.png" alt="linkedin" /></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/soc/img8.png" alt="linkedin" /></a>
                  </columns>
                </row>
              </container>
            </container>
            
            <container class="small-pd" class="footer-container">
             <container class="footer-container">
                <spacer size="30"></spacer>
               <row>
                 <columns large="8 ">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo est id nulla luctus, quis posuere metus elementum. Phasellus elementum tortor nec massa pellentesque lobortis.</p>
                 </columns>
                 <columns large="4">
                   <ul>
                     <li><a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/arrow.png">Quick Link One</a></li>
                     <li><a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/arrow.png">Quick Link Two</a></li>
                     <li><a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/arrow.png">Quick Link Three</a></li>
                     <li><a href="#"><img src="https://raw.githubusercontent.com/testfrizen/img/master/img/arrow.png">Quick Link Four</a></li>
                   </ul>
                 </columns>

               </row>
                <row >
                  <columns class="small-pd"><spacer class="lvlone-hr-white" size="1"></spacer></columns>

                </row>
                <row>
                  <columns class="small-pd s"  large="7">
                    <p class="footer-p">Copyright 2013 <span>Gusto</span>. All Rights Reserved.</p>
                  </columns>
                  <columns class="small-pd"  large="5" >
                    <p class="footer-p mr">View Online</p>
                    <p class="footer-p">Unsubscribe</p>
                  </columns>
                </row>
             </container>
             
            
            </container>

          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>